{% extends 'admin/base.html.twig' %}

{% block body %}
<div class="ui segment">
{% if settings.inscriptions_open == "true" %}
    Les inscriptions sont 'ouvertes'
{% else %}
    Les inscriptions sont 'fermées'
{% endif %}
</div>
{% endblock %}