// Vendors
@import '~semantic-ui-css/semantic.min.css';
@import '~quill/dist/quill.snow.css';

.editor {
  min-height: 400px;
}
.news.ui.image {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
.partners .ui.avatar.image {
  width: auto;
  border-radius: 0;
}

// Form errors
.ui.form div.field ul {
  background: red;
  color: white;
  border-radius: 7px;
  padding: 1px 0 3px 23px;
}