a, p, div, em, strong {
    color: $text_color;
}

.rtl {
    direction: rtl;
}

a.button {
    display: inline-block;
    padding: 10px;
    background-color: $tertiary_color;
    color: white;
    border-radius: 0;
    border: none;
}

nav > div.ui.text.menu {
    margin: 0;
    height: 120px;
    background: transparent;
    & > .item {
        padding: 20px;
        &.highlight {
            color: $tertiary_color;
        }
    }
    & .item.lang-menu, & .item.lang-menu:hover, & .item.lang-menu.active:hover {
        background: $tertiary_color;
        color: white;
        &:after {
            content: "";
            display: block;
            width: 41px;
            height: 40px;
            position: absolute;
            left: -40px;
            background: url('images/world.png') center center transparent no-repeat;
            background-size: 20px;
        }
    }
}

.headline {
    height: 620px;
    display: block;
    position: relative;
    font-weight: bold;
    text-align: center;
    .first-circle {
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left: -340px;
        border-radius: 50%;
        width: 190px;
        height: 190px;
        background: $secondary_color;
        color: $main_color;
    }
    .big-circle {
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -230px;
        width: 460px;
        height: 460px;
        border-radius: 50%;
        background: url('http://thot-fle.fr/static/img/thot-white.png') no-repeat 204px -96px $secondary_color;
        background-size: 400px;
        padding: 180px 0;
        color: $main_color;
        font-size: 2em;
        line-height: 1em;
    }
    a.donate {
        position: absolute;
        top: 420px;
        left: 50%;
        margin-left: 50px;
        display: inline-block;
        border-radius: 50%;
        width: 190px;
        height: 190px;
        background: $tertiary_color;
        color: white;
        text-align: center;
        padding: 80px 0;
        font-size: 1.5em;
    }
}

footer {
    text-align: center;
    & > a {
        color: $light_text_color;
    }
}