$main_color: #026A66; // tortoise green
$secondary_color: #FFED66; // light yellow
$tertiary_color: #F05254; // vivid pink

$text_color: #333333; // dark grey
$light_text_color: #9A9A9A; // light grey

$tabletBreakpoint: 992px;
$mobileBreakpoint: 768px;