{% extends 'base.html.twig' %}
{% set menu = "home" %}
{% block title %}{{ parent() }} {{ "home.title"|trans }}{% endblock %}

{% block body %}
HOME

<a href="" class="button">Je m'inscris</a>

{% endblock %}