{% extends 'base.html.twig' %}
{% set menu = "home" %}
{% block title %}{{ parent() }} {{ "legal.title"|trans }}{% endblock %}

{% block body %}
<section class="text">
<h2>Mentions légales et crédits</h2>
<h3>Association loi 1901</h3>

<h4>Siège social</h4>

<p>
THOT - Transmettre un horizon à tous<br>
c/o Maison des association du 2ème arrondissement, 23 rue Greneta, 75002 Paris<br>
contact@thot-fle.fr 
</p>

<h4>Hébergeur du site</h4>
<p>OVH<br>
Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
</p>

<h4>Conditions d'utilisation du site Internet www.thot-fle.fr</h4>

<p>Le site et chacun des éléments, y compris mais sans limitation les marques, les logos, icônes, infographies, photographies, qui le composent sont protégés au titre de la législation internationale de la propriété intellectuelle. Les contenus figurant sur le site sont la propriété de Thot ou d’autres entreprises et associations.
</p>
<p>Toute utilisation, reproduction ou représentation, par quelque procédé que ce soit, et sur quelque support que ce soit, de tout ou partie du site et/ou des éléments qui le composent n'est pas autorisée sans le consentement expresse de Thot.</p>
</section>
{% endblock %}