<h2>Bonjour,</h2>

<p>Un formulaire de contact vient d'être rempli sur le site web :</p>
<ul>
    <li><strong>Nom</strong> : {{ name }}</li>
    <li><strong>Email</strong> : {{ email }}</li>
    <li><strong>Sujet</strong> : {{ subject }}</li>
</ul>
<p></p>
<p><strong>Message</strong>:<br><br>{{ message }}</p>

<p>—<br>L'équipe site web</p>